/* Toggle Switch Styles */
.toggle-checkbox {
  transition: all 0.3s;
}

.toggle-checkbox:checked {
  right: 0;
  border-color: #3b82f6;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #3b82f6;
}

.toggle-label {
  transition: all 0.3s;
}
